.box{
    background-color: rgb(107, 224, 107);
    color: blue;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
    max-width: 1200px;
    min-width: 100px;
    font-size: xx-large;
    height: 200px;
}

a:link{
    background-color: blueviolet;
}
a:visited{
    background-color: rgb(105, 209, 101);
    color: rgb(175, 5, 5);
}
   .box:hover{
    background-color: plum;
    color: brown;
   }
.box:active{
    background-color: rgb(119, 129, 129);
    color: rgb(18, 5, 39);
}
    .box:focus{
        font-size: xx-small;
    }
